<div class="container mat-elevation-z4">
  <div class="grow">
    <h3 class="grow">Nested Subscribe Example</h3>
  </div>
  <div class="input">
    <mat-form-field class="width-100" appearance="fill">
      <mat-label>Timeout (ms)</mat-label>
      <input matInput placeholder="500" [(ngModel)]="timeOutMs">
    </mat-form-field>

  </div>
  <div class="button">
    <button mat-stroked-button color="primary" (click)="getData()">
      <span *ngIf="!isLoading">GO!</span>
      <mat-spinner diameter="25" strokeWidth="2" *ngIf="isLoading"></mat-spinner>
    </button>
  </div>
  <div class=content>
    <nested-pokemon-list [pokemon]="pokemon"></nested-pokemon-list>
  </div>
</div>
