<div class="container">

  <div class="child">
    <nested-nested-subscribe></nested-nested-subscribe>
  </div>
  <div class="child">
    <nested-switch-map-observables></nested-switch-map-observables>
  </div>
  <div class="child">
    <nested-pokemon-list></nested-pokemon-list>
  </div>
  <div class="child">
    <nested-pokemon-list></nested-pokemon-list>
  </div>
  <div class="child">
    <nested-pokemon-list></nested-pokemon-list>
  </div>
  <div class="child">
    <nested-pokemon-list></nested-pokemon-list>
  </div>
  <div class="child">
    <nested-pokemon-list></nested-pokemon-list>
  </div>
  <div class="child">
    <nested-pokemon-list></nested-pokemon-list>
  </div>
  <div class="child">
    <nested-pokemon-list></nested-pokemon-list>
  </div>
</div>
