$height: calc(50% - 17.5px);

.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 15px;

  margin: 10px;

  height: calc(100% - 20px);
}

.child {
  min-width: calc(50% - 13px);
  flex-grow: 1;
  min-height: $height;
  max-height: $height;
  overflow-y: auto;
  padding: 4px;
}
